# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
src/Api.jsx
src/assets/icons/Weather Icons 1.1 Dark Mode/
src/assets/icons/Weather Icons 1.1 Light Mode Sexy/
src/assets/icons/Weather Icons 1.1 Light Mode/
src/assets/icons/Colored/
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Api.js
.git.bgf-report
.git.bgf-report/
.git.bfg-report/
DailyAccordion
DailyAccordion.jsx
jsonconfig.json
jsconfig.json
.env
.vercel
